<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Descirption:</strong>
  <%= @event.descirption %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<p>
  <strong>Good vote:</strong>
  <%= @event.good_vote %>
</p>

<p>
  <strong>Bad vote:</strong>
  <%= @event.bad_vote %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
