<!DOCTYPE html>
<html>
  <head>
    <title>Plock</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'My Profile', current_user %>
    <%= link_to 'Event List', events_path %>
    <%= link_to 'User List', users_path %>
    <%= yield %>

    <% if flash[:notice]%>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert]%>
      <p class="alert"><%= alert %></p>
    <% end %>
  </body>
</html>
